---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE__EN, SITE_DESCRIPTION__EN } from '../consts';
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
	<head>
		<BaseHead title={SITE_TITLE__EN} description={SITE_DESCRIPTION__EN} />
	</head>
	<body class="container">
		<Header title={SITE_TITLE__EN} />
		<main>
			<ul>
				<li><a href="/en">English</a></li>
				<li><a href="/es">Español</a></li>
			</ul>
			<p>Please select one of the available languages above.</p>
  		<p>Seleccione uno de los idiomas disponibles arriba.</p>
		</main>
	</body>
</html>
