---
export interface Props {
	link: string;
	title: string;
}

const { link = "/", title } = Astro.props;
---

<header>
	<nav>
		<div class="home">
			<a href={link}>
				<img src="/favicon.svg">
				<strong>{title}</strong>
			</a>
		</div>

		<div class="languages">
			<a href="/en">en</a>
			|
			<a href="/es">es</a>
		</div>
	</nav>
</header>
