---
import HeaderLink from './HeaderLink.astro';

export interface Props {
	link: string;
	title: string;
}

const { link = "/", title } = Astro.props;
---

<header>
	<nav>
		<a href={link}>
			<img src="/favicon.svg">
			<strong>{title}</strong>
		</a>
	</nav>
</header>
